*.pyc
*.txt

.metadata/*

JianWenLibrary/*

jwl/jwl/autoload/*
jwl/jwl/dbindexer/*
jwl/jwl/django/*
jwl/jwl/djangoappengine/*
jwl/jwl/djangotoolbox/*
jwl/jwl/.gaedata/*
jwl/jwl/.gaedata/datastore
jwl/.settings/*
