book details
<table>
<tr>
	<th>Title</th>
	<th>Author</th>
	<th>Publisher</th>
	<th>Publication Date</th>
	<th>Price in ££</th>
	<th>Availability for borrowing</th>
</tr>
<tr>
	<td>{{ book.title }}</td>
	<td>{{ book.authors }}</td>
	<td>{{ book.publisher }}</td>
	<td>{{ book.publication_date }}</td>
	<td>{{ book.selling_price }}</td>
	<td>
		{% if book.availability > 0 %}
			<a href="/book/{{ book.id }}/borrow">{{ book.availability }} copies available to borrow</a>
		{% else %}
			All copies are in borrowing
		{% endif %}
	</td>
</tr>
</table>

donation details: if you know any guys here, why not ask them for help first, like photocopy?
<table>
{% for donation in book_donation %}
<tr>
	<td>{{ donation.donater }}</td>
	<td>{{ donation.donate_date }}</td>
</tr>
{% endfor %}
</table>

***** need to display the borrow recrods here. 

<table>
{% for borrow in borrows %}
<tr>
	<td>{{ borrow.borrower }}</td>
	<td>{{ borrow.from }}</td>
	<td>{{ borrow.to }}</td>
	<td>{{ borrow.status }}</td>
</tr>
{% endfor %}
</table>

