{% extends 'mybase.html' %}

{% block css %}
<style type="text/css">
.column_odd {
background:#EEE
}

tbody {
display: table-row-group;
vertical-align:middle;
border-color:inherit;
}

#book_list_table {
border-collapse:collapse;
text-align:left;
border-left:1px solid #69c;
border-right:1px solid #69c;
}
#book_list_table tbody tr:hover td{
background:#D0DAFD;
}
#book_list_table td{
border-bottom: 1px solid #C0C0C0;
padding-right: 4px;
}
.column-emphesis {
background:yellow
}

thead {
background: whiteSmoke;
border-bottom: 2px solid #6678B1;
}
</style>
{% endblock %}

{% block title %}Donater({{ donater.name }}):{% endblock %}

{% block content %}
<div class="items_content">
<div class="item">
<h1>Donation records for: {{ donater.name }}</h1>
<p>
<table id="book_list_table">
<colgroup>
	<col class="column_odd" />
	<col class="column_even" />
	<col class="column_odd" />
	<col class="column_even" />
</colgroup>
<thead>
<tr>
	<th>Donater name</th>
	<th>Book title</th>
	<th>Selling price</th>
	<th>Donated date</th>
<tr>
</thead>
<tbody>
{% for donation in donations %}
<tr>
	<td>{{ donation.donater_name }}</td>
	<td><a href='/book/{{ donation.book_id }}'>{{ donation.book_title }}</a></td>
	<td align="center" class='column-emphesis'>{{ donation.book_price }}</td>
	<td align="center">{{ donation.donated_date }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>
</div>
{% endblock %}