{% extends 'mybase.html' %}

{% block css %}
<style type="text/css">
.column_odd {
background:#EEE
}

tbody {
display: table-row-group;
vertical-align:middle;
border-color:inherit;
}

#book_list_table {
border-collapse:collapse;
text-align:left;
border-left:1px solid #69c;
border-right:1px solid #69c;
}
#book_list_table tbody tr:hover td{
background:#D0DAFD;
}
#book_list_table td{
border-bottom: 1px solid #C0C0C0;
padding-right: 4px;
}
.column-emphesis {
background:yellow
}

thead {
background: whiteSmoke;
border-bottom: 2px solid #6678B1;
}
</style>
{% endblock %}

{% block title %}Donaters list{% endblock %}

{% block content %}
<div class="items_content">
<div class="item">
<h1>Thanks so much for following donaters's support</h1>
<p>
<table id="book_list_table" >
<colgroup>
	<col class="column_odd" />
	<col class="column_even" />
	<col class="column_odd" />
</colgroup>
<thead>
<tr>
	<th>Donater name</th>
	<th>Donated copies</th>
	<th>Donation Details</th>
<tr>
</thead>
<tbody>
{% for donater in donaters %}
<tr>
	<td>{{ donater.name }}</td>
	<td align="center">{{ donater.copies }}</td>
	<td class='column-emphesis' align="center"><a href="/book/donation/list/{{ donater.id }}">Donation details</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
</div>
</div>
{% endblock %}