<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
Welcome to Jian&Wen Library. It is a free and volunteery library for students in Nottingham. 
<br>
For management, we only allow a person to borrow a book for no more than one month. 
To prevent book missing, we would reserve the deposite as book price, we will return the deposit when you return the book. 
We would also. 
<div>
<form action="welcome/request" method="post">
Choose your action
<input type="submit" name="view_borrow" value="View books lists & borrow it">
<input type="submit" name="books_donation" value="Books donation">
<input type="submit" name="admin" value="Library administration">
</form>
</div>

</body>
</html>